{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="{% static 'dindex.css' %}" />
    <link rel="stylesheet" href="{% static 'dglobal.css' %}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@400;500;700;800&display=swap"
    />
  </head>
  <body>
    <div class="galileo-design">
      <header class="depth-2-frame-0">
        <div class="depth-3-frame-0">
          <div class="depth-4-frame-0">
            <div class="depth-5-frame-0">
              <div class="depth-6-frame-0">
                <img
                  class="pet-health-text"
                  loading="eager"
                  alt=""
                  src="./public/vector--0.svg"
                />

                <div class="depth-7-frame-0"></div>
              </div>
            </div>
            <div class="depth-5-frame-1">
              <div class="depth-6-frame-01">
                <b class="pet-health">Pet Health</b>
              </div>
            </div>
          </div>
        </div>
        <div class="depth-3-frame-1">
          <div class="depth-4-frame-01">
            <div class="depth-5-frame-01">
              <div class="depth-6-frame-02">
                <div class="about">About</div>
              </div>
            </div>
            <div class="depth-5-frame-11">
              <div class="depth-6-frame-03">
                <div class="services">Services</div>
              </div>
            </div>
            <div class="depth-5-frame-2">
              <div class="depth-6-frame-04">
                <div class="stories">Stories</div>
              </div>
            </div>
            <div class="depth-5-frame-3">
              <div class="depth-6-frame-05">
                <div class="donate">Donate</div>
              </div>
            </div>
          </div>
          <div class="depth-4-frame-1">
            <div class="depth-5-frame-02">
              <button class="depth-6-frame-06">
                <div class="depth-7-frame-01">
                  <b class="log-in">Log in</b>
                </div>
              </button>
            </div>
            <div class="depth-5-frame-12">
              <button class="depth-6-frame-07">
                <div class="depth-7-frame-02">
                  <b class="sign-up">Sign up</b>
                </div>
              </button>
            </div>
          </div>
        </div>
      </header>
      <main class="depth-frame-container">
        <section class="frame-parent">
          <div class="another-frame-parent">
            <div class="another-frame">
              <div class="depth-6-frame-08">
                <div class="our-impact-text">
                  <div class="depth-7-frame-03">
                    <div class="depth-8-frame-0">
                      <div class="depth-9-frame-0">
                        <div class="depth-10-frame-0">
                          <div class="depth-11-frame-0">
                            <h1 class="help-give-all">
                              Help give all pets their best life
                            </h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="depth-8-frame-1">
                      <div class="depth-9-frame-01">
                        <div class="depth-10-frame-01">
                          <div class="depth-11-frame-01">
                            <div class="depth-12-frame-0">
                              <img
                                class="adoptions-text-icon"
                                alt=""
                                src="./public/vector--0-1.svg"
                              />

                              <div class="depth-13-frame-0"></div>
                            </div>
                          </div>
                          <div class="depth-11-frame-1">
                            <div class="depth-12-frame-01">
                              <div class="search-for-a">
                                Search for a hospital, ngo or pet health topic
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="depth-10-frame-1">
                          <div class="depth-11-frame-02">
                            <button class="depth-12-frame-02">
                              <div class="depth-13-frame-01">
                                <b class="search">Search</b>
                              </div>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="depth-4-frame-11">
              <div class="depth-5-frame-03">
                <div class="depth-6-frame-09">
                  <img
                    class="depth-7-frame-04"
                    loading="eager"
                    alt=""
                    src="./public/depth-7-frame-0@2x.png"
                  />

                  <div class="depth-7-frame-2">
                    <div class="depth-8-frame-01">
                      <div class="depth-9-frame-02">
                        <div class="donating-to-pet">
                          "Donating to pet health organizations is a great way
                          to help those who can't help themselves."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-1">
                  <img
                    class="depth-7-frame-05"
                    alt=""
                    src="./public/depth-7-frame-0-1@2x.png"
                  />

                  <div class="depth-7-frame-21">
                    <div class="depth-8-frame-02">
                      <div class="depth-9-frame-03">
                        <div class="ive-seen-firsthand">
                          "I've seen firsthand how donating to pet health
                          organizations can save lives and make a difference."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-2">
                  <img
                    class="depth-7-frame-06"
                    alt=""
                    src="./public/depth-7-frame-0-2@2x.png"
                  />

                  <div class="depth-7-frame-22">
                    <div class="depth-8-frame-03">
                      <div class="depth-9-frame-04">
                        <div class="i-believe-that">
                          "I believe that donating to pet health organizations
                          is a way for all of us to give back to our furry
                          friends."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-3">
                  <img
                    class="depth-7-frame-07"
                    alt=""
                    src="./public/depth-7-frame-0-3@2x.png"
                  />

                  <div class="depth-7-frame-23">
                    <div class="depth-8-frame-04">
                      <div class="depth-9-frame-05">
                        <div class="donating-to-pet1">
                          "Donating to pet health organizations is a simple way
                          to help animals in need and show kindness to those who
                          can't speak for themselves."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-4">
                  <img
                    class="depth-7-frame-08"
                    alt=""
                    src="./public/depth-7-frame-0-4@2x.png"
                  />

                  <div class="depth-7-frame-24">
                    <div class="depth-8-frame-05">
                      <div class="depth-9-frame-06">
                        <div class="i-think-that">
                          "I think that donating to pet health organizations is
                          a great way to support the health and well-being of
                          our four-legged friends."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-5">
                  <img
                    class="depth-7-frame-09"
                    alt=""
                    src="./public/depth-7-frame-0-5@2x.png"
                  />

                  <div class="depth-7-frame-25">
                    <div class="depth-8-frame-06">
                      <div class="depth-9-frame-07">
                        <div class="i-love-donating">
                          "I love donating to pet health organizations because
                          it's a way to help animals in need and make a positive
                          impact on the world."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-6">
                  <img
                    class="depth-7-frame-010"
                    alt=""
                    src="./public/depth-7-frame-0-6@2x.png"
                  />

                  <div class="depth-7-frame-26">
                    <div class="depth-8-frame-07">
                      <div class="depth-9-frame-08">
                        <div class="donating-to-pet2">
                          "Donating to pet health organizations is something I
                          feel passionate about because it's a way to give back
                          to the animals who bring so much joy to our lives."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-6-frame-7">
                  <img
                    class="depth-7-frame-011"
                    alt=""
                    src="./public/depth-7-frame-0-7@2x.png"
                  />

                  <div class="depth-7-frame-27">
                    <div class="depth-8-frame-08">
                      <div class="depth-9-frame-09">
                        <div class="i-believe-that1">
                          "I believe that donating to pet health organizations
                          is an important way to support the health and
                          happiness of our furry friends."
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="our-impact-frame">
              <div class="depth-4-frame-2">
                <div class="depth-5-frame-04">
                  <div class="depth-6-frame-010">
                    <h3 class="our-impact">Our impact</h3>
                  </div>
                </div>
              </div>
              <div class="depth-4-frame-3">
                <div class="depth-5-frame-05">
                  <div class="depth-6-frame-011">
                    <img
                      class="depth-7-frame-012"
                      alt=""
                      src="./public/depth-7-frame-0-8@2x.png"
                    />
                  </div>
                  <div class="depth-6-frame-11">
                    <div class="depth-7-frame-013">
                      <div class="depth-8-frame-09">
                        <b class="pets-helped">1,000,000 pets helped</b>
                      </div>
                    </div>
                    <div class="depth-7-frame-1">
                      <div class="depth-8-frame-010">
                        <div class="weve-provided-medical">
                          We've provided medical care and found loving homes for
                          over 1 million pets.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-5-frame-13">
                  <div class="depth-6-frame-012">
                    <img
                      class="depth-7-frame-014"
                      alt=""
                      src="./public/depth-7-frame-0-9@2x.png"
                    />
                  </div>
                  <div class="depth-6-frame-12">
                    <div class="depth-7-frame-015">
                      <div class="depth-8-frame-011">
                        <b class="raised">$100,000,000 raised</b>
                      </div>
                    </div>
                    <div class="depth-7-frame-11">
                      <div class="depth-8-frame-012">
                        <div class="weve-raised-over">
                          We've raised over $100 million to support pet health
                          initiatives and organizations.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-5-frame-21">
                  <div class="depth-6-frame-013">
                    <img
                      class="depth-7-frame-016"
                      alt=""
                      src="./public/depth-7-frame-0-10@2x.png"
                    />
                  </div>
                  <div class="depth-6-frame-13">
                    <div class="depth-7-frame-017">
                      <div class="depth-8-frame-013">
                        <b class="volunteers">10,000 volunteers</b>
                      </div>
                    </div>
                    <div class="depth-7-frame-12">
                      <div class="depth-8-frame-014">
                        <div class="our-volunteers-have">
                          Our volunteers have dedicated 10,000 hours to helping
                          pets in need.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="depth-5-frame-31">
                  <div class="depth-6-frame-014">
                    <img
                      class="depth-7-frame-018"
                      alt=""
                      src="./public/depth-7-frame-0-11@2x.png"
                    />
                  </div>
                  <div class="depth-6-frame-14">
                    <div class="depth-7-frame-019">
                      <div class="depth-8-frame-015">
                        <b class="adoptions">100,000 adoptions</b>
                      </div>
                    </div>
                    <div class="depth-7-frame-13">
                      <div class="depth-8-frame-016">
                        <div class="weve-helped-100000">
                          We've helped 100,000 pets find forever families
                          through our adoption programs.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="depth-3-frame-11">
            <div class="depth-4-frame-02">
              <div class="depth-5-frame-06">
                <div class="depth-6-frame-015">
                  <div class="depth-7-frame-020">
                    <div class="we-are-90">We are 90% funded</div>
                  </div>
                </div>
                <div class="depth-6-frame-15">
                  <div class="depth-7-frame-021">
                    <div class="m">1.8M</div>
                  </div>
                </div>
              </div>
              <div class="depth-5-frame-14">
                <div class="depth-6-frame-016"></div>
                <div class="depth-6-frame-16"></div>
              </div>
              <div class="depth-5-frame-22">
                <div class="depth-6-frame-017">
                  <div class="of-our-2000000">of our $2,000,000 goal</div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="our-impact-text1">
          <div class="about1">About</div>
          <div class="frame-services-stories">
            <div class="services1">Services</div>
            <div class="pet-health-frame">
              <div class="pet-health1">@2023 Pet Health</div>
            </div>
            <div class="stories1">Stories</div>
          </div>
          <div class="donate1">Donate</div>
        </div>
      </main>
    </div>
  </body>
</html>
